.header{
    position: fixed; 
    background-color: white;
    font-family: "Poppins", Sans-serif;
}

body{
    margin: 0;
}

@media(max-width:700px){
    img.img-logo{
        width: 50%;
        height: 50%;
    }
}
.navlist{
    
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    

}
.navbar-nav > li {
    padding: 10px 15px; /* Adjust padding values as needed */
  }


/*.no-underline{
    color: #61CE70;
}

*/

  /*  .menu_container{
        
        margin-top: 100px;
        float: left;
        width: 550px;
        letter-spacing: .5px;
        
        list-style-type: none; 
        display: flex; 
        padding: 37px; 
        margin: 0; 
        
        font-weight: 600;
        font-size: 14px;
        align-items: center;
    }


.menu_container li {
    margin-right: 40px;
}


    


.dropdown-content {
    
    padding-top: 5px;
    padding: 1;
    list-style-type: none;
    

    
    
    display: none; 
    position: absolute; 
    background-color: #324a58;
    min-width: 160px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    
    

}

.dropdown:hover .dropdown-content {
    display: block; 
}
*/
/*
.dropdown-content a {
    color: white; 
    padding: 10px; 
    text-decoration: none; 
    display: block; 
    
}

.dropdown-content a:hover {
    background-color:#61CE70; 
}

.no-underline {
    text-decoration: none;
    font-family: "Poppins", Sans-serif;
}

.login_container{
    width: 20%;
    height: 80px;
    float: left;
    background-color:white;
    padding-top: 10px;
    
}

*/




.arrow1{
    margin-left: 1px;
}


.arrow2{
    margin-left: 17px;
}



.register_container{
    
    
    
}


.oblong-container {
    display: flex;
    
    width: 605px; 
    height: 67px; 
    border: 1px solid #000;
    border-radius: 100px; 
    border-color: #37B678;
   
    
  }

  @media(max-width:1200px){
    .oblong-container{
        width: 50%;
        height: 50%;

    }
}


  
  .oblong {
    
    font-size: 18px; 
    display: flex;
    align-items: center;
    
  }

  .register_text{
    font-size: 15px;
   
    color: #37B678;
    font-family: "Poppins", Sans-serif;
    letter-spacing: .5px;
    font-weight: 450;
    

  }

  .register_button{
    height: 40px;
    width: 178px;
    border-style: hidden;
    border-radius: 20px;
    background-color: #37B678;;
    color: white;
    font-family: "Poppins", Sans-serif;
    letter-spacing: .5px;
    color: aliceblue;
    

    
  }

  .text1{
    font-family: "Poppins", Sans-serif;
    
    font-size: 49px;
    font-weight: 600;
    color: #324a58;
    line-height: 1;
    
    letter-spacing: .5px;
  }


    .text2{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: initial;
    line-height: 2em;
    letter-spacing: 0.5px;
   
    }

    .free_trial{
       
        font-family: "Poppins", Sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        background-color: #37B678;
        border-style: none;
        width: 280px;
        height: 56px;
        border-radius: 13px;
        
    }


    @media(max-width:800px){
        img.dp{
            width: 300px;
            height: 300px;
        }
    }
    

    

  .main-image_container{
    
    
    

   
}


.dp{
    border-radius: 50%;
    
}




.counter1{
    
    font-size: 49px;
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
   
}

.counter2{
   
    font-size: 49px;
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    
}

.counter3{
    
    font-size: 49px;
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
   
}

.counter4{
    
    font-size: 49px;
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
   
}



.sub{
    font-family: "Playfair Display", Sans-serif;
    font-size: 17px;
    
    
    font-weight: 250;
}

.sub1{
    font-family: "Playfair Display", Sans-serif;
    font-size: 17px;
    
    
    font-weight: 250;
}
.sub2{
    font-family: "Playfair Display", Sans-serif;
    font-size: 17px;
   
    font-weight: 250;

}
.sub3{
    font-family: "Playfair Display", Sans-serif;
    font-size: 17px;
    
    font-weight: 250;

}

   /*-------------------------------------- xylem commerce pro section--------------------------------------*/

.xylem-commerce-pro_container{
    display: flex;
    justify-content: center;
    background-color: #37b678;
   
}

.xylem-commerce-pro_image{
    display: flex;
    justify-content: center;
    
    
    
    
    
}
/*.img2{
    width: 100%;
    height: auto;
    
}

*/

.xylem-commerce-pro_text{
    
    color: #3f444b; 
    font-family: "Poppins", Sans-serif;
   
   

    background-color: #FFFFFF;
}
.xylem-commerce-pro_text_button{
    
    background-color: white;
   
  
  

}

.xylem-commerce-pro_text1{
    
    
    font-size: 30px;
    font-weight: 400;
    
    
}
.xylem-commerce-pro_text2{
    
    font-weight: 100;
    
   
    
}

/*-------------------------------------- featured cources--------------------------------------*/

.featured_courses{
    
   
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;

    
    
}

.ready_to_learn{
    
 
    

    
}

.ready_to_learn_h2{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    
}

.view_courses{
    
    
    display: flex;
    justify-content: space-between;
    
    
}
.view_courses_text{
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
   
    letter-spacing: .5px;
}

.view_courses_button{
    color: #37B678;
    border-style: solid;
    width: 160px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 18px;
    border-width: 1px;
    border-color: #b2b2b2;
    background-color: #F5F7FA;
    font-size: 16px;
    font-weight: 549;
    letter-spacing: 1px;
}
.view_courses_button:hover{
    border-color: #4f89ff;
}

.arrow3{
    margin-left: 15px;
    
}

.enquire_now{
    
    
    
}
/*
.image_tile1{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 367px;
    height: 340px;
    border-radius: 0% 0% 8% 8%;

    margin-right: 20px;
}
.image_tile2{
    display: flex;
    flex-direction: column;
    width: 367px;
    height: 338px;
    background-color: white;
    margin-right: 20px;
    border-radius: 0% 0% 8% 8%;
    
}
.image_tile3{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 367px;
    height: 338px;
    background-color: #ffffff;
    border-radius: 0% 0% 8% 8%;
}
*/
.image_tile_text{
    
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 18px;

}

.image_tile_text_button{
    height: 44px;
    width: 227px;
    margin-top: 20px;
    margin-left: 71px;

    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #37B678;
    border-style: none;
    border-radius: 6px 6px 6px 6px;
   
}



.image_tile_text_div1{
    height: 50px;
    width: 100%;
   
}

.image_tile_text_div2{
    height: 50px;
    width: 100%;
   
}

.image_tile_text_div3{
    height: 50px;
    width: 100%;
   
}


.image_tile1_photo1{
    border-radius: 1% 1% 0% 0%;
}

/*-------------------------------------- this helps you to get a ahead of the crowd--------------------------------------*/

.dialogue{

background-color: white
}
.dialogue_text{
    text-align: center;
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 48px;
    font-weight: 600;

}


/*-------------------------------------- app feature section--------------------------------------*/


.app_features{
   
    display: flex;
    justify-content: center;
    
    
}


.feature1_image{
   
    width: 70%;
    height: 160px;

}

.feature2_image{
    
    width: 70%;
    height: 160px;
}
.feature3_image{
    
    width: 70%;
    height: 160px;
}

.feature_h2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    
}
.feature_p{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.5px;
}

.app_features_section{
    display: flex;
    justify-content: end;
    width: 80%;
    height: auto;
    margin-left: 61px;
    margin-bottom: 145px;
}


.app_features_section_button{
    color: #37B678;
    border-style: solid;
    width: 155px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 18px;
    border-width: 1px;
    border-color: #b2b2b2;
    background-color: white; 
    font-size: 16px;
    font-weight: 549; 
    letter-spacing: 1px;  
    
}

.app_features_section_button:hover{
    border-color: #4f89ff;
}

/*----------------------------------------------------------------------------------------*/

.join_for_free{
   
    
    
    background-color: #F5F7FA;
    
}

.join_for_free_heading_div{
  
    
}
.join_for_free_heading{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2.9px;
}


.join_for_free_text_div{
  
}
.join_for_free_text{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 56px;
    font-weight: 600;
    
}


.join_for_free_text_div1{
   
    
 
}


.join_for_free_button{
    width: 250px;
    height: 55px;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #37B678;
    border-style: none;
    border-radius: 10px;
    
}

/*------------------------------------------------------------------------------------------*/


.our_team_section{
    
}

.our_team_section_div_heading{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    
}
.our_team_section_div_text1{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 600;
   
}

.our_team_section_div_text2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 200;
   
}
.our_team_section_div_text3{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0.5px;
}


.our_team_button_it{
    font-weight: 520;
    width: 125px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    border-color: #b5b1b1;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 18px;
    background-color: white;
    color: #37B678;
    font-size: 14px;
    letter-spacing: 1px;
}

.our_team_button_it:hover{
    border-color: #4f89ff;
}
/*-------------------------------------------------------------------------------------------------*/

.subscribe{
   
   
    background-color: #F5F7FA;

}

.subscribe_text1_div{
    
    
    
}

.subscribe_text1{
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    font-size: 46px;
    font-weight: 600;
    
   
}

.subscribe_text2_div{
    
    
}
.subscribe_text2{
    color: #324a58;
    font-family: "Poppins", Sans-serif;
    font-size: 46px;
    font-weight: 600;
   
    
}


.subscriber_team_section{
  
}

.subscriber_team_section_it{
    width: 130px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    
    background-color: #f5f7fa;
    border-color: #dbdbdb;
    color: #37B678;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;

}
.subscriber_team_section_it:hover{
    border-color: #4f89ff;
    border-width: 1px;
}

/*----------------------------------------------------------------------------------------------*/


.review_heading{
   
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.review_text{
    
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 46px;
    font-weight: 600;
}

/*-----------------------------------------------------------------------------------------------*/


.st1_container{
 
    background-color: white;
    border-radius: 10px;
    
    
}


.st1_h2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    line-height: 34px;
}

.st1_p{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.5px;
}


.st1_photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.st1_photo_jpg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.st1_name{
   
}

.st1_name_realname{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.st1_name_courcename{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.st2_container{
   
    
  
    background-color: white;
    border-radius: 10px;
}


.st2_h2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    line-height: 34px;
}

.st2_p{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.5px;
}



.st2_photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.st2_photo_jpg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.st2_name_realname{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.st2_name_courcename{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.st3_container{
   
    background-color: white;
    border-radius: 10px;
}

.st3_h2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    line-height: 34px;
}

.st3_p{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.5px;
}

.st3_photo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.st3_photo_jpg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.st3_name_realname{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.st3_name_courcename{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/*-------------------------------------------------------------------------*/



.form_heading_text{
    color: #212133;
    font-family: "Poppins", Sans-serif;
    font-size: 56px;
    font-weight: 600;

}

/*-------------------------------------------------------------------------*/

.form{
    
    width: 100%;
    height: 400px;
    
    display: flex;
  
    
}
.form_real{
margin-left: 160px;
width: 70%;

}

#name{
    border-radius: 3px;
    width: 815px;
    height: 40px;
    border-width: .5px;
    
}

#district{
    border-radius: 3px;
    width: 150px;
    height: 40px;
    border-width: .5px;
}
#country_code{
    border-radius: 3px;
    width: 350px;
    height: 40px;
    border-width: .5px;
}
#phone_number{
    border-radius: 3px;
    width: 350px;
    height: 40px;
    border-width: .5px;
}
#class{
    border-radius: 3px;
    height: 40px;
    width: 100px;
    border-width: .5px;
}

#email{
    border-radius: 3px;
    height: 40px;
    width: 870px;
    border-width: .5px;
}

.first{
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    margin-top: 25px;

}
.third{
    margin-top: 25px;
    display: flex;
    align-items: center;
    
}

.first_name{
    display: flex;
    flex-direction: column;
}
.first_district{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.second_country_code{
    display: flex;
    flex-direction: column;
}

.second_phone_number{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.second_class{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.third_email{
    display: flex;
    flex-direction: column;
}
.label_class{
    font-family: "Poppins", Sans-serif;
    color:#3f4b5b;
    margin-bottom: 5px;
}

.form_span{
    color: #8e2f12;
}

.final_button{
    width: 100px;
    height: 40px;
    margin-top: 22px;
    margin-left: 20px;
    background-color: #37B678;
    border-style: none;
    border-radius: 5px;
    color: white;
}

.final_button:hover{
    background-color: #212133;
}

#name::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}

#district::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}

#country_code::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}

#phone_number::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}
#class::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}
#email::placeholder{
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bcbdbe;
    padding-left: 10px;

}




/*-------------------------------------------------------------------------------------------*/


.footer{
   
    background-color: #f0f0f0;
   
   
}

.footer_main{
   
    

}

.footer_div_1{
   
   

}

#footer_div_1_p{
    color: #444444;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0.5px;
}


.footer_div_2_h2{
    color: #3F3A65;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.footer_div_2_text{
  
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    color:#444444;
    line-height: 50px;
}




.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em;
    margin-right: 14px;
}


.end_text{
    color: #A09EAA;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
}


.whatsapp-icon {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    
    
  }
  
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  




